form{
    padding: 25px;
    background-color:pink
  }
  
  #name{
    height:25px;
  }
  
  label[for="name"]{
    fonr-style:italic;
  }
  
  .btn{
    margin-top:25px;
    padding:10px
  }
  body {
    font-family: sans-serif;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: auto;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  h1 {
    font-size: 1.5rem;
  }